<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %> <%- include("includes/side-drawer") %>
    <main>
      <h1>Something went wrong</h1>
      <p>Server goofed idk, error code 500</p>
    </main>
  </body>
</html>
